<!-- templates/homepage.html -->
{% extends "base.html" %}

{% block content %}
    <h1>🏨 Benvenuto nel Sistema di Gestione Hotel 🛎️</h1>
    
    {% if user.is_authenticated %}
        <p>Ciao, {{ user.username }} 😀</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Per favore, effettua il login per continuare 😒</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}