<!-- templates/select_hotel.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Seleziona un Hotel</h2>
    <p>Ciao {{ user.username }}, scegli l'hotel in cui vuoi operare.</p>
    
    {% if hotels %}
        <ul>
        {% for hotel in hotels %}
            {# Ora il link punta al nostro nuovo URL, passando l'ID specifico di ogni hotel nel ciclo #}
            <li><a href="{% url 'core:activate_hotel' hotel.id %}">{{ hotel.name }} ({{ hotel.city }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Non risulti assegnato a nessun hotel.</p>
    {% endif %}
{% endblock %}